<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>createPcMap</title>
  <style>
  header{text-align: center; margin-top: 100px;}
  fieldset{text-align: center; height: 100px; padding-bottom: 20px;}
  #insertTd {
    width: 50px;
    height: 50px;
    background-color: yellow;
  }
  </style>
</head>

<body>
  <header>
    <p><img src = "./pibang.png" width="320" height="100" alt="logo" text-align="center"></p>
  </header>
  <fieldset align="center">
    <legend><h2>좌석등록</h2></legend>
    <span><label>행 : [<span id="cols">10</span>]</label></span>
    <span><label>열 : [<span id="rows">10</span>]</label></span>
    <span><label>층 : <input type="number" name="rows" value="1" style="width:40px"></label></span>
    <input type="button" onclick="plusUp()" value="Up+">
    <input type="button" onclick="minorUp()" value="Up-">
    <input type="button" onclick="plusDown()" value="Down+">
    <input type="button" onclick="minorDown()" value="Down-">
    <input type="button" onclick="plusLeft()" value="Left+">
    <input type="button" onclick="minorLeft()" value="Left-">
    <input type="button" onclick="plusRight()" value="Right+">
    <input type="button" onclick="minorRight()" value="Right-">
  </fieldset>
  <div id="MapTable">
  </div>
  <script>
    var pcNum = []; // pc방 컴퓨터 배열
    var maxCol = 10;
    var maxRow = 10;
    createPcMap(maxCol, maxRow); // page 열면 10x10 테이블 출력

    function createPcMap(co, ro) {
      var newtable = document.createElement("table"); // 표시할 테이블
      newtable.setAttribute("id", "PcTable");

      for (var i = 0; i < co; i++) {
        var newTr = document.createElement("tr");
        newTr.setAttribute("id", "PcMap");

        for (var j = 0; j < ro; j++) {
          var td = document.createElement("td");
          insertMap(td);
          newTr.appendChild(td);
        }
        newtable.appendChild(newTr);
      }
      // console.log(newtable); // 주석처리

      var MapTable = document.getElementById("MapTable"); // MapTable에 추가
      MapTable.appendChild(newtable);
    }
    function insertMap(p){
      p.setAttribute("id", "insertTd");
      p.addEventListener("click", function() {
        if (this.value == null) {
          pcNum[pcNum.length] = this;
          this.innerHTML = pcNum.length
          this.value = pcNum.length;
          this.style.backgroundColor = "blue";
          console.log(pcNum[pcNum.length-1]); // 주석처리
        }
        else {
          for (var i = this.value; i < pcNum.length; i++) {
            pcNum[i].innerHTML = i;
            pcNum[i].value = i;
          }
          console.log(this.value);
          pcNum.splice(this.value-1,1);
          this.value = null;
          this.innerHTML = "";
          this.style.backgroundColor = "yellow";
        }
      });
    }
    function deleteMap(p){

    }

    function plusUp() {
      var table = document.getElementById('PcTable');
      var row = table.insertRow(0);
      for (var i = 0; i < maxRow; i++) {
        insertMap(row.insertCell(i));
      }
      maxCol++;
      document.getElementById('cols').innerHTML=maxCol;
    }
    function minorUp() {
      var del = document.getElementById('PcMap');
      var table = document.getElementById('PcTable');
      if (table.rows.length<1) return;
      table.deleteRow(0);
      maxCol--;
      document.getElementById('cols').innerHTML=maxCol;
    }
    function plusDown() {
      var table = document.getElementById('PcTable');
      var row = table.insertRow(table.rows.length);
      for (var i = 0; i < maxRow; i++) {
        insertMap(row.insertCell(i));
      }
      maxCol++;
      document.getElementById('cols').innerHTML=maxCol;
    }
    function minorDown() {
      var del = document.getElementById('PcMap');
      var table = document.getElementById('PcTable');
      if (table.rows.length<1) return;
      table.deleteRow(table.rows.length-1);
      maxCol--;
      document.getElementById('cols').innerHTML=maxCol;
    }
    function plusLeft() {
      var tr = document.getElementById('PcMap');
      var col = table.insertRow(table.rows.length);
      for (var i = 0; i < maxRow; i++) {
        insertMap(col.insertCell(i));
      }
      maxCol++;
      document.getElementById('cols').innerHTML=maxCol;
    }
    function minorLeft() {
      var del = document.getElementById('PcMap');
      var table = document.getElementById('PcTable');
      if (table.rows.length<1) return;
      table.deleteRow(table.rows.length-1);
      maxCol--;
      document.getElementById('cols').innerHTML=maxCol;
    }
  </script>

</body>

</html>
