<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>도로명주소 테스트 페이지</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <header class="section no-pad-bot" id="index-banner">
        <br />
        <div class="container">
            <h1 class="header center">
                <a href="/"><img src="images/pbangjari-logo.png" alt="logo" width="300px"></a>
            </h1>
        </div>
        <br />
    </header>

    
    <div>
        <form name="form" id="form" method="post">
            <input type="text" name="currentPage" value="1" />
            <!-- 요청 변수 설정 (현재 페이지. currentPage : n> 0) -->
            <input type="text" name="countPerPage" value="10" />
            <!-- 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100) -->
            <input type="text" name="resultType" value="json" />
            <!-- 요청 변수 설정 (검색결과형식 설정, json) -->
            <input type="text" name="confmKey" value="U01TX0FVVEgyMDE4MDEzMTE2NDUwNzEwNzY0NDg=" />
            <!-- 요청 변수 설정 (승인키) -->
            <input type="text" name="keyword" value="" onkeydown="enterSearch();" />
            <!-- 요청 변수 설정 (키워드) -->
            <input type="button" onClick="getAddr();" value="주소검색하기" />
            <div id="list"></div>
            <!-- 검색 결과 리스트 출력 영역 -->
        </form>
    </div>
    

    <!--Scripts-->
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/materialize.min.js"></script>
    <script src="javascripts/init.js"></script>

    <script>
        function getAddr() {
            $.ajax({
                url: 'http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do',
                type: "post",
                data: $("#form").serialize(),
                dataType: "jsonp",
                crossDomain: true,
                success: function (jsonStr) {
                    $("#list").html("");
                    var errCode = jsonStr.results.common.errorCode;
                    var errDesc = jsonStr.results.common.errorMessage;
                    if (errCode != "0") {
                        alert(errCode + "=" + errDesc);
                    } else {
                        if (jsonStr != null) {
                            makeListJson(jsonStr);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert("에러발생");
                }
            });
        }

        function makeListJson(jsonStr) {
            var htmlStr = "";
            htmlStr += "<table>";
            $(jsonStr.results.juso).each(function () {
                htmlStr += "<tr>";
                htmlStr += "<td>" + this.roadAddr + "</td>";
                htmlStr += "<td>" + this.roadAddrPart1 + "</td>";
                htmlStr += "<td>" + this.roadAddrPart2 + "</td>";
                htmlStr += "<td>" + this.jibunAddr + "</td>";
                htmlStr += "<td>" + this.engAddr + "</td>";
                htmlStr += "<td>" + this.zipNo + "</td>";
                htmlStr += "<td>" + this.admCd + "</td>";
                htmlStr += "<td>" + this.rnMgtSn + "</td>";
                htmlStr += "<td>" + this.bdMgtSn + "</td>";
                htmlStr += "<td>" + this.detBdNmList + "</td>";
                /** API 서비스 제공항목 확대 (2017.02) **/
                htmlStr += "<td>" + this.bdNm + "</td>";
                htmlStr += "<td>" + this.bdKdcd + "</td>";
                htmlStr += "<td>" + this.siNm + "</td>";
                htmlStr += "<td>" + this.sggNm + "</td>";
                htmlStr += "<td>" + this.emdNm + "</td>";
                htmlStr += "<td>" + this.liNm + "</td>";
                htmlStr += "<td>" + this.rn + "</td>";
                htmlStr += "<td>" + this.udrtYn + "</td>";
                htmlStr += "<td>" + this.buldMnnm + "</td>";
                htmlStr += "<td>" + this.buldSlno + "</td>";
                htmlStr += "<td>" + this.mtYn + "</td>";
                htmlStr += "<td>" + this.lnbrMnnm + "</td>";
                htmlStr += "<td>" + this.lnbrSlno + "</td>";
                htmlStr += "<td>" + this.emdNo + "</td>";
                htmlStr += "</tr>";
            });
            htmlStr += "</table>";
            $("#list").html(htmlStr);
        }

        function enterSearch() {
            var evt_code = (window.netscape) ? ev.which : event.keyCode;
            if (evt_code == 13) {
                event.keyCode = 0;
                getAddr(); //jsonp사용시 enter검색 
            }
        }
    </script>

</body>

</html>