<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>피방자리</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <div class="section no-pad-bot grey lighten-3" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center white-text">
                <a href="/"><img src="images/pbangjari-logo.png" alt="logo" width="270px"></a>
            </h1>
            <div class="row center">
                <h5 class="header col s12 teal-text">PCBang Administrator Page</h5>
            </div>
            <div class="row center" style="padding: 150px 0">
                <% if(!ceoName) { %>
                    <a href="/auth/kakao">
                        <img id="kakao-login-btn" src="images/kakao_account_login_btn_medium_narrow.png" onmouseover="this.src='images/kakao_account_login_btn_medium_narrow_ov.png'"
                            onmouseout="this.src='images/kakao_account_login_btn_medium_narrow.png'" border="0">
                    </a>
                    <% } else { %>
                        <a href="/ceo" id="kakao-login-btn" class="btn-large waves-effect waves-light pulse teal">Get Started
                        </a>
                        <% } %>
            </div>
            <br>
            <br>

        </div>
    </div>

    <% if(!ceoName) {} 
    else { %>
    <div class="fixed-action-btn" style="bottom: 15px; right: 15px;">
        <a class="btn-floating btn-large pulse teal" href="/logout">
            Bye!
            <!--<i class="material-icons">clear</i>-->
        </a>
    </div>
    <% } %>

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h4 class="white-text">We are Handroid Team!</h4>
                    <br />
                    <br />
                    <h5 class="white-text">Company Bio</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="http://hansung.ac.kr">Development Team : Handroid</a>
                        </li>
                        <li>
                            <a class="white-text" href="tel:+821085727503">Phone : +82 10 8572 7503</a>
                        </li>
                        <li>
                            <a class="white-text" href="mailto:pnpdeveloper1@gmail.com">E-mail : pnpdeveloper1@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by
                <a class="orange-text text-lighten-3" href="https://github.com/handroidteam">Handroid</a>
            </div>
        </div>
    </footer>


    <!--Scripts-->
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/materialize.min.js"></script>
    <script src="javascripts/init.js"></script>

</body>

</html>