<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>ip 설정 페이지</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <style>
        .ipSetButton {
            width:80px;
            padding:0 0 0 0;
            margin: 0 5px 5px 5px;
            font-weight: bold;
        }
        .ipDot {
            margin: 0 5px 20px 5px;
            font-weight: bold;
        }
    </style>

</head>

<body onload="getMapData()">
    <header class="section no-pad-bot" id="index-banner">
        <br />
        <div class="container">
            <h1 class="header center">
                <a href="/">
                    <img src="images/pbangjari-logo.png" alt="logo" width="300px">
                </a>
            </h1>
        </div>
        <br />
    </header>

    <div class="container">
        <form id="ipForm" name='insert' method="post" enctype="application/json">
            <div class="divider"></div>
            <div class="section">
                <div class="row text-darken-1" style="margin:0 1rem 0 0">
                    <blockquote class="right" style="margin: 0 0 0 0">IP 상세설정</blockquote>
                </div>
            </div>

            <div class="section" >
                <div class="row text-darken-1 valign-wrapper">
                    <a id="selectIp" class="ipSetButton col s12 center dropdown-button btn" data-beloworigin="true" href='#' data-activates='dropdown' value='0'>IP선택</a>
                    <ul id='dropdown' style="padding:0 0 0 0;" class='dropdown-content'>
                    </ul>
                    <a class="ipSetButton col s12 waves-effect waves-light btn" onclick="allCheck(0)"  type="button" name="autoButton">자동설정</a>
                    <a class="ipSetButton col s12 waves-effect waves-light btn" onclick="allCheck(1)"  type="button" name="autoButton">전체선택</a>
                    <a class="ipSetButton col s12 waves-effect waves-light btn" onclick="allCheck(2)"  type="button" name="autoButton">전체해제</a>
                    <a class="ipSetButton col s12 waves-effect waves-light btn" onclick="allCheck(3)"  type="button" name="autoButton">+1</a>
                    <a class="ipSetButton col s12 waves-effect waves-light btn" onclick="allCheck(4)"  type="button" name="autoButton">-1</a>
                    </div>
                </div>

                <div class="row">
                    <!-- <div id="ipList" class="col s7 m5 push-l1"> -->
                    <div id="ipList" class="center">
                        <div class="valign-wrapper col s12 m6 l4" id="ipSet" style="display:none; margin-bottom: 0px;">
                            <span style="height:2rem; margin-top:10px;">
                                <input type="checkbox" class="filled-in" id="ipCheck" style="height:2rem; margin-top:0px;" />
                                <label for="ipCheck"></label>
                            </span>
                            <span id="ipNum" style="width:30px; height:2rem; margin-top:10px;"></span>
                            <input class="center" name="pcIP[First]" style="width:30px; height:2rem; margin-bottom:2px;" id="ipFirst" type="text" class="validate" onkeydown="onKeyDown(this)" onkeyup = "onKeyUp(this)" required>
                            <span class="ipDot" style="margin-bottom:2px;">.</span>
                            <input class="center" name="pcIP[Second]" style="width:30px; height:2rem; margin-bottom:2px;" id="ipSecond" type="text" class="validate" onkeydown="onKeyDown(this)" onkeyup = "onKeyUp(this)" required>
                            <span class="ipDot" style="margin-bottom:2px;">.</span>
                            <input class="center" name="pcIP[Third]" style="width:30px; height:2rem; margin-bottom:2px;" id="ipThird" type="text" class="validate" onkeydown="onKeyDown(this)" onkeyup = "onKeyUp(this)" required>
                            <span class="ipDot" style="margin-bottom:2px;">.</span>
                            <input class="center" name="pcIP[Fourth]" style="width:30px; height:2rem; margin-bottom:2px;" id="ipFourth" type="text" onkeydown="onKeyDown(this)" onkeyup = "onKeyUp(this)" class="validate" required>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center" style="margin-bottom:50px">
                <button class="btn-large waves-effect waves-light pulse" type="button" onclick="insert_action()">
                    등록완료<i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/materialize.min.js"></script>
    <script src="javascripts/init.js"></script>
    <script>
        var pcMaps = <%- JSON.stringify(pcMaps) %>
        var pcBang = <%- JSON.stringify(pcBang) %>
        console.log(pcMaps);
        var testLength = pcMaps[0].pcInfo.length; // 선택한 pc좌석 length
        var testIp = pcBang[0].adminIPAddress;


        var ipList = document.getElementById('ipList');
        var ipSet = document.getElementById('ipSet');
        var selectIp = document.getElementById('selectIp');
        var dropdown = document.getElementById('dropdown');

        function getMapData(){ // 데이터베이스 불러오기
            for (var i = 0; i < testIp.length; i++) { // ip설정 리스트 생성
                dropdown.appendChild(document.createElement('li'));
                let addList = dropdown.children[i]; // addList : 등록된 ip
                addList.appendChild(document.createElement('a'));
                addList.setAttribute('class', 'center-align, valign-wrapper');
                addList.children[0].setAttribute('style', 'padding: 0 0 0 0;');
                addList.children[0].innerHTML = testIp[i].ipFirst+'.'+testIp[i].ipSecond+'.'+testIp[i].ipThird;
                addList.addEventListener('click', function(){
                    selectIp.innerHTML = this.children[0].innerHTML;
                    selectIp.value = Array.prototype.indexOf.call(this.parentElement.children, this)+1;
                });
            }

            for (var i = 0; i < testLength; i++) { // ip입력할 공간 생성
                var addDiv = ipSet.cloneNode(true); // addDiv : 입력할 ip한줄
                addDiv.setAttribute('style','margin-bottom: 0px;');
                addDiv.children[0].children[0].setAttribute('id', 'ipCheck'+i);
                addDiv.children[0].children[1].setAttribute('for', 'ipCheck'+i);
                addDiv.children[1].innerHTML = (i+1)+'.&nbsp;&nbsp;';
                addDiv.children[2].setAttribute('value', '');
                addDiv.children[4].setAttribute('value', '');
                addDiv.children[6].setAttribute('value', '');
                addDiv.children[8].setAttribute('value', '');
                ipList.appendChild(addDiv);
            }
            ipList.removeChild(ipList.children[0]); // 기존 틀은 삭제
        }
        function onKeyDown(child) { // 숫자, 백스페이스, 탭키만 입력받게함
            let childLength = Array.prototype.indexOf.call(child.parentElement.children, child);
            if (event.keyCode < 48 || (event.keyCode > 57 && event.keyCode < 96) || event.keyCode > 105) {
                if (event.keyCode == 8 || event.keyCode == 9) {} else {
                    if (event.keyCode==190&&childLength!=8) {
                        child.parentElement.children[childLength+2].focus();
                    }
                    event.preventDefault(); // 입력안되게 함
                }
            }
            else {
                if (event.keyCode>95) {
                    if (Number(child.value)*10+event.keyCode-96>255) {
                        event.preventDefault(); // 입력안되게 함
                        child.value = 255;
                    }
                }
                else {
                    if (Number(child.value)*10+event.keyCode-48>255) {
                        event.preventDefault(); // 입력안되게 함
                        child.value = 255;
                    }
                }
            }
        }
        function onKeyUp(child){
            let childLength = Array.prototype.indexOf.call(child.parentElement.children, child);
            if (child.value.length==3) {
                if (childLength!=8) { // ip 뒷번호가 아니면 다음 탭으로
                    child.parentElement.children[childLength+2].focus();
                }
            }
        }

        function allCheck(check) {
            for (var i = 0; i < testLength; i++) {
                let checkState = ipList.children[i].children[0].children[0]; // 체크상태
                let checkNum = ipList.children[i].children[8]; // ip 뒷자리 번호
                if (check==0) { // 자동설정
                    if (selectIp.value==0) {
                        console.log('ip를 선택하세요.');
                        break;
                    }
                    if (checkState.checked) {
                        ipList.children[i].children[2].value = testIp[selectIp.value-1].ipFirst;
                        ipList.children[i].children[4].value = testIp[selectIp.value-1].ipSecond;
                        ipList.children[i].children[6].value = testIp[selectIp.value-1].ipThird;
                        ipList.children[i].children[8].value = i+1;
                    }
                }
                else if (check==1) { // 전체선택
                    checkState.checked = true;
                }
                else if(check==2){ // 전체해제
                    checkState.checked = false;
                }
                else if(check==3){ // ip 뒷자리 +1
                    if (checkState.checked) {
                        if (Number(checkNum.value)==255) {
                            continue;
                        }
                        checkNum.value = Number(checkNum.value)+1;
                    }
                }
                else if(check==4){ // ip 뒷자리 -1
                    if (checkState.checked) {
                        if (Number(checkNum.value)==0) {
                            continue;
                        }
                        checkNum.value = Number(checkNum.value)-1;
                    }
                }
            }
        }
        function ipSend(){ // ip정보 전송버튼
            for (var i = 0; i < testLength; i++) {
                // console.log(ipList.children[i].children[2].value+'.'+ipList.children[i].children[4].value+'.'+ipList.children[i].children[6].value+'.'+ipList.children[i].children[8].value);
                pcMaps[0].pcInfo[i].pcIP ={First: Number(ipList.children[i].children[2].value), Second: Number(ipList.children[i].children[4].value), Third:Number(ipList.children[i].children[6].value),
                Fourth:Number(ipList.children[i].children[8].value)};
            }
            // document.getElementById("ipForm").submit();
        }
        function insert_action(){
            // var mForm = document.insert; // form의 값을 가져오기 위함
            for (var i = 0; i < testLength; i++) {
                // console.log(ipList.children[i].children[2].value+'.'+ipList.children[i].children[4].value+'.'+ipList.children[i].children[6].value+'.'+ipList.children[i].children[8].value);
                pcMaps[0].pcInfo[i].pcIP ={First: Number(ipList.children[i].children[2].value), Second: Number(ipList.children[i].children[4].value), Third:Number(ipList.children[i].children[6].value),
                Fourth:Number(ipList.children[i].children[8].value)};
            }
            var obj = new Object();
            obj.pcInfo = pcMaps[0].pcInfo;
            var json_data = obj; // form의 값을 넣은 오브젝트를 JSON형식으로 변환
            var request = $.ajax({
                url:"http://13.124.1.90:3000/api/pcIP/update/"+pcMaps[0]._id,
                type:"POST",
                data:json_data, // {“user_id”:”입력값”, “user_password”:”입력값”} 형식으로 전달 됨
                dataType:"json"
            });

            console.log('완료');
        }
    </script>
</body>

</html>
