<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>새로운 PC방 등록</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <style>
        .ipDot {
            margin: 0 5px 20px 5px;
            font-weight: bold;
        }
    </style>
</head>

<body onload="saveProto()">
    <header class="section no-pad-bot" id="index-banner">
        <br />
        <div class="container">
            <h1 class="header center">
                <a href="/">
                    <img src="images/pbangjari-logo.png" alt="logo" width="270px">
                </a>
            </h1>
        </div>
        <br />
    </header>

    <div class="container">
        <form method="post" id="createForm" enctype="application/json" action="api/pcBang/create/<%=ceoId%>">
            <div class="divider"></div>
            <div class="section">
                <div class="row grey-text text-darken-1" style="margin:0 1rem 0 0">
                    <blockquote class="right" style="margin-top:0">PC방 기본 정보</blockquote>
                </div>

                <div class="row">
                    <div class="input-field col s12 m4">
                        <input placeholder="숫자 10자리를 입력하세요." name="licenseNumber" id="licenseNumber" type="text" class="validate" onkeydown="onKeyDown()" required>
                        <label for="licenseNumber">사업자등록번호</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input placeholder="PC방 이름을 입력하세요." name="pcBangName" id="pcBangName" type="text" class="validate" required>
                        <label for="pcBangName">PC방 이름</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <input placeholder="01012345678" name="tel" id="tel" type="text" class="validate" onkeydown="onKeyDown()" required>
                        <label for="tel">PC방 전화번호</label>
                    </div>
                    <div class="input-field col s12 m12">
                        <div class="row">
                            <div class="col s12 m8">
                                <div style="float:left; margin-top:8px;">
                                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
                                        <span>주소검색</span>
                                    </a>
                                </div>
                                <div style="overflow:hidden; padding-left:10px;">
                                    <label for="roadAddress">PC방 주소</label>
                                    <input placeholder="주소검색 버튼을 눌러주세요" id="roadAddress" name="address[roadAddress]" type="text" required readonly>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <input placeholder="상세주소를 입력해주세요" id="detailAddress" name="address[detailAddress]" type="text" class="validate" required>
                            </div>
                            <input id="postCode" type="hidden" name="address[postCode]" value="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider" style="margin-top:30px"></div>
            <div class="section">
                <div class="row grey-text text-darken-1" style="margin:0 1rem 1rem 0">
                    <blockquote class="right" style="margin-top:0">PC 정보</blockquote>
                </div>
                <div class="row">
                    <div class="input-field col s4 m3 l2">
                        <input placeholder="ex) i5-8600K" name="pcSpec[CPU]" id="CPU" type="text" class="validate" required>
                        <label for="CPU">CPU</label>
                    </div>
                    <div class="input-field col s4 m3 l2">
                        <input placeholder="ex) DDR4 8G" name="pcSpec[RAM]" id="RAM" type="text" class="validate" required>
                        <label for="RAM">RAM</label>
                    </div>
                    <div class="input-field col s4 m3 l2">
                        <input placeholder="ex) 1080ti 11GB" name="pcSpec[VGA]" id="VGA" type="text" class="validate" required>
                        <label for="VGA">VGA</label>
                    </div>

                    <div id="ipList" class="input-field col s12 offset-l1 l5">
                        <div id="ipSet" class="valign-wrapper">
                            <label for="ipFirst">IP주소</label>
                            <input placeholder="XXX" name="adminIPAddress[0][ipFirst]" id="ipFirst" type="text" class="validate center" onkeydown="onKeyDown()" style="width:40px; height:2rem;" required>
                            <span class="ipDot">.</span>
                            <input placeholder="XXX" name="adminIPAddress[0][ipSecond]" id="ipSecond" type="text" class="validate center" onkeydown="onKeyDown()" style="width:40px; height:2rem;" required>
                            <span class="ipDot">.</span>
                            <input placeholder="XXX" name="adminIPAddress[0][ipThird]" id="ipThird" type="text" class="validate center" onkeydown="onKeyDown()" style="width:40px; height:2rem;" required>
                            <span class="ipDot">.</span>
                            <input disabled placeholder="XXX" id="ipFourth" type="text" class="validate center" style="width:40px; height:2rem;">
                            <i id="plusButton" class="material-icons teal-text" onclick="addIpSet()" style="margin:0 15px 15px 15px;">add_circle_outline</i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="image">
                        <label class="col s12" for="image">PC방 대표이미지</label>
                        <div class="file-field input-field col s12">
                            <div class="btn small disabled">
                                <span>찾아보기</span>
                                <input disabled type="file" id="pcBangImage" name="pcBangImage" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input disabled class="file-path validate" type="text" placeholder="&nbsp;&nbsp;이미지 업로드 기능 준비중">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row center" style="margin-bottom:50px">
                <!-- <button id="regButton" class="btn-large waves-effect waves-light pulse" type="submit" name="action">
                    등록하기<i class="material-icons right">send</i>
                </button> -->
                <button id="updateButton" class="btn-large waves-effect waves-light pulse" style="display:none;">
                    수정하기<i class="material-icons right">send</i>
                </button>
            </div>
        </form>

    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form name="form" id="form" method="post">
            <div class="modal-content">
                <h4>주소 검색</h4>
                <div>
                    <input type="hidden" id="currentPage" name="currentPage" value="1" />
                    <!-- 요청 변수 설정 (현재 페이지. currentPage : n> 0) -->
                    <input type="hidden" name="countPerPage" value="5" />
                    <!-- 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100) -->
                    <input type="hidden" name="resultType" value="json" />
                    <!-- 요청 변수 설정 (검색결과형식 설정, json) -->
                    <input type="hidden" name="confmKey" value="U01TX0FVVEgyMDE4MDEzMTE2NDUwNzEwNzY0NDg=" />
                    <!-- 요청 변수 설정 (승인키) -->
                    
                    <!-- 요청 변수 설정 (키워드) -->
                    <div style="float:right;">
                        <a class="modal-action waves-effect waves-green btn-flat" onClick="getAddr();">검색</a>
                    </div>
                    <div style="overflow:hidden;">
                        <input type="text" name="keyword" value="" onkeydown="enterSearch();" />
                    </div>
                    

                    <!-- 검색 결과 리스트 출력 영역 -->
                    <div id="list"></div>

                    <!-- 페이지 이동 아이콘 -->
                    <div id="page" style="display:none;">
                        <ul class="pagination">
                            <li id="left" class="disabled"><a href="#" onClick="pagination(1); return false"><i class="material-icons">chevron_left</i></a></li>
                            <li id="right" class="waves-effect"><a href="#" onClick="pagination(2); return false"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Scripts-->
    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/materialize.min.js"></script>
    <script src="javascripts/init.js"></script>
    
    <script>
        function onKeyDown() { // 숫자, 백스페이스, 탭키만 입력받게함
            if (event.keyCode < 48 || (event.keyCode > 57 && event.keyCode < 96) || event.keyCode > 105) {
                if (event.keyCode == 8 || event.keyCode == 9) {} else {
                    event.preventDefault(); // 입력안되게 함
                }
            }
        }

        let ipList = document.getElementById("ipList");
        let ipSet = document.getElementById("ipSet");
        let ipSetProto = ipSet.cloneNode(true);
        let ipIcon = document.getElementById("ipIcon");
        let ipLength = ipList.children.length;

        function saveProto() {
        }

        function addIpSet() { // ipSet 추가
            if(ipLength <= 10) {
                // 마이너스 버튼
                let minusButton = document.createElement("i");
                minusButton.setAttribute("class", "material-icons red-text text-lighten-2");
                minusButton.setAttribute("style", "margin:0 15px 15px 15px;");
                minusButton.innerHTML = "remove_circle_outline";
                minusButton.addEventListener("click", function () { // 클릭리스너 부여
                    ipList.removeChild(this.parentElement);
                    ipLength--;
                });
                
                // 추가할 ipSet
                let newIpSet = document.createElement("div");
                newIpSet.setAttribute("class", "valign-wrapper")
                newIpSet.innerHTML = ipSetProto.innerHTML;

                newIpSet.removeChild(newIpSet.children[0]);
                newIpSet.removeChild(newIpSet.children[7]);

                // name = adminIPAddress[i][ipXXX] 형식으로 변경
                newIpSet.children[0].setAttribute("name", "adminIPAddress[" + ipLength + "][ipFirst]");
                newIpSet.children[2].setAttribute("name", "adminIPAddress[" + ipLength + "][ipSecond]");
                newIpSet.children[4].setAttribute("name", "adminIPAddress[" + ipLength + "][ipThird]");

                // ipList에 newIpSet 삽입
                newIpSet.appendChild(minusButton);
                ipList.appendChild(newIpSet);
                ipLength++;

                
            } else {
                return alert("최대 10개까지 설정 가능합니다");
            }
        }
    </script>

    <script>    // PC방 정보가 들어왔을 때 각 요소를 수정 폼으로 변경해주기
        var pcBang = <%- JSON.stringify(pcBang) %>;
        if(pcBang) {
            //document.getElementById("regButton").setAttribute("style", "display:none;");
            document.getElementById("updateButton").setAttribute("style", "");

            document.getElementById("createForm").action = "api/pcBang/update/"+pcBang._id;
            document.getElementById("licenseNumber").value = pcBang.licenseNumber;
            document.getElementById("pcBangName").value = pcBang.pcBangName;
            document.getElementById("tel").value = pcBang.tel;
            document.getElementById("roadAddress").value = pcBang.address.roadAddress;
            document.getElementById("detailAddress").value = pcBang.address.detailAddress;
            document.getElementById("CPU").value = pcBang.pcSpec.CPU;
            document.getElementById("RAM").value = pcBang.pcSpec.RAM;
            document.getElementById("VGA").value = pcBang.pcSpec.VGA;

            if(pcBang.adminIPAddress.length > 1) {
                for(let i=0; i<pcBang.adminIPAddress.length-1; i++) {
                    addIpSet();
                }
            }

            for(let i=0; i<pcBang.adminIPAddress.length; i++) {
                

                let ipList = document.getElementById("ipList");
                ipList.children[i].getElementsByTagName("input")[0].value = Number(pcBang.adminIPAddress[i].ipFirst);
                ipList.children[i].getElementsByTagName("input")[1].value = Number(pcBang.adminIPAddress[i].ipSecond);
                ipList.children[i].getElementsByTagName("input")[2].value = Number(pcBang.adminIPAddress[i].ipThird);
            }
            // document.getElementById("pcBangImage").value = pcBang.pcBangImage;
        }
        
    </script>


    <script>
        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>

    <script>
        let resultInfo;
        let currentPage;
        let totalCount;
        let totalPage;

        function getAddr() {
            console.log("in getAddr(), requested page is : " + currentPage);
            $.ajax({
                url: 'http://www.juso.go.kr/addrlink/addrLinkApiJsonp.do',
                type: "post",
                data: $("#form").serialize(),
                dataType: "jsonp",
                crossDomain: true,
                success: function (jsonStr) {
                    $("#list").html("");
                    var errCode = jsonStr.results.common.errorCode;
                    var errDesc = jsonStr.results.common.errorMessage;
                    if (errCode != "0") {
                        alert(errDesc);
                    } else {
                        if (jsonStr != null) {
                            makeListJson(jsonStr);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert("에러발생");
                }
            });
        };

        function pagination(input) {
            let req = Number(input);
            let currentPage = document.getElementById("currentPage");
            let value = Number(currentPage.value);

            switch(req) {
                case 1:
                    if(value > 1) {
                        currentPage.setAttribute("value", --value);
                        break;
                    } else {
                        break;
                    }
                case 2:
                    if(value < totalPage) {
                        currentPage.setAttribute("value", ++value);
                        break;
                    } else {
                        break;
                    }
            }
            
            if(value === 1) {
                console.log("currentPage is 1")
                document.getElementById("left").setAttribute("class", "disabled");
                document.getElementById("right").setAttribute("class", "waves-effect");
            } else if(value === totalPage) {
                console.log("currentPage = totalPage");
                document.getElementById("left").setAttribute("class", "waves-effect");
                document.getElementById("right").setAttribute("class", "disabled");
            } else {
                console.log("currentPage is somewhere");
                console.log("currentPage is : " + value + ", totalPage is " + totalPage);
                document.getElementById("left").setAttribute("class", "waves-effect");
                document.getElementById("right").setAttribute("class", "waves-effect");
            };
            getAddr();

        };

        function makeListJson(jsonStr) {
            var htmlStr = "";
            htmlStr += "<table class='highlight'>";
            htmlStr += "<thead><tr>";
            htmlStr += "<th>도로명 주소</th><th>지번 주소</th>";
            htmlStr += "</tr></thead>";
            htmlStr += "<tbody>";
            $(jsonStr.results.juso).each(function () {
                htmlStr += "<tr onclick='fillRoadAddress(this)' class='modal-close'>";
                htmlStr += "<td>" + this.roadAddr + "</td>";
                // htmlStr += "<td>" + this.roadAddrPart1 + "</td>";
                // htmlStr += "<td>" + this.roadAddrPart2 + "</td>";
                htmlStr += "<td>" + this.jibunAddr + "</td>";
                // htmlStr += "<td>" + this.engAddr + "</td>";
                // htmlStr += "<td>" + this.zipNo + "</td>";
                // htmlStr += "<td>" + this.admCd + "</td>";
                // htmlStr += "<td>" + this.rnMgtSn + "</td>";
                // htmlStr += "<td>" + this.bdMgtSn + "</td>";
                // htmlStr += "<td>" + this.detBdNmList + "</td>";
                /** API 서비스 제공항목 확대 (2017.02) **/
                // htmlStr += "<td>" + this.bdNm + "</td>";
                // htmlStr += "<td>" + this.bdKdcd + "</td>";
                // // htmlStr += "<td>" + this.siNm + "</td>";
                // // htmlStr += "<td>" + this.sggNm + "</td>";
                // // htmlStr += "<td>" + this.emdNm + "</td>";
                // // htmlStr += "<td>" + this.liNm + "</td>";
                // htmlStr += "<td>" + this.rn + "</td>";
                // htmlStr += "<td>" + this.udrtYn + "</td>";
                // htmlStr += "<td>" + this.buldMnnm + "</td>";
                // htmlStr += "<td>" + this.buldSlno + "</td>";
                // htmlStr += "<td>" + this.mtYn + "</td>";
                // htmlStr += "<td>" + this.lnbrMnnm + "</td>";
                // htmlStr += "<td>" + this.lnbrSlno + "</td>";
                // htmlStr += "<td>" + this.emdNo + "</td>";
                htmlStr += "</tr>";
            });
            htmlStr += "</tbody></table>";

            resultInfo = jsonStr.results.common;
            currentPage = Number(resultInfo.currentPage);
            totalCount = Number(resultInfo.totalCount);
            totalPage = Math.ceil(totalCount / 5);
            console.log("************* result info *************")
            console.log(resultInfo);
            console.log("***************************************")

            if(totalCount > 5) {
                var page = document.getElementById("page");
                page.setAttribute("style", "diplay:inherit")
                if(currentPage === 1) {
                    document.getElementById("left").setAttribute("class", "disabled");
                    document.getElementById("right").setAttribute("class", "waves-effect");
                } else if(currentPage === totalPage) {
                    document.getElementById("left").setAttribute("class", "waves-effect");
                    document.getElementById("right").setAttribute("class", "disabled");
                } else {
                    document.getElementById("left").setAttribute("class", "waves-effect");
                    document.getElementById("right").setAttribute("class", "waves-effect");
                };
            };

            $("#list").html(htmlStr);
        };

        function enterSearch() {
            var evt_code = (window.netscape) ? ev.which : event.keyCode;
            if (evt_code === 13) {
                event.preventDefault();
                getAddr(); //jsonp사용시 enter검색 
            }
        };

        function fillRoadAddress(selectedAddress) {
            let roadAddress = document.getElementById("roadAddress");
            roadAddress.value = selectedAddress.children[0].innerHTML;
        }
    </script>

</body>

</html>