<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>메인</title>
    <style>
      header{text-align: center; margin-top: 200px;}
      article{text-align: center; margin-top: 50px;}
    </style>
  </head>
  <body>
    <header>
      <p><img src = "./pibang.png" width="320" height="100" alt="logo" text-align="center"></p>
    </header>
    <nav></nav>
    <aside></aside>
    <section>
      <article>
        <a href="inputPBangData.ejs"><img src = "./kakaoMain.png" width="320" height="80"></a>
      </article>
    </section>
    <footer></footer>
  </body>
</html>
